# Node.js
node_modules
npm-debug.log
.env
dist
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.local
docker-compose.override.yml

# Editor-specific
.vscode/
.idea/
*.swp

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfvars

# Logs
logs/
*.log
